<div id = 'card' data-info = '{{url}}'> 
<div class = 'card-wrapper'>
	<h2 class="card-title">{{title}}</h2>
	<img class="card-img" src="{{image}}" alt = 'image'>
	<a class="card-link" href="{{url}}">{{url}}</a>
	<button class="btn">Удалить</button>
</div>
</div>
   
