
<div class = 'bookmark-wrapper' data-id = {{id}}>
 	<button class="delete-btn"></button>
 	<a class="bookmark-link" href={{url}}>
 	<div class="bookmark-descr">{{description}}</div>
	<h2 class="bookmark-title">{{title}}</h2>
	<img class="bookmark-img" src={{image}} alt = 'image'>
	</a>
	<div class = "bookmark-date">{{date}}</div>
</div>
